.fondo1 {
  background-image: url(../svg/blob1.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.fondo2 {
  background-image: url(../svg/blob2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.fondo3 {
  background-image: url(../svg/blob3.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.fondo4 {
  background-image: url(../svg/blob4.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.fondo5 {
  background-image: url(../svg/blob5.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.rounded-circle {
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
  
}

@keyframes trans1 {
  0%{
    transform:translateX(700px);
  } 
}
@keyframes trans2 {
  0%{
    transform:translateX(700px);
  } 
}
@keyframes trans3 {
  0%{
    transform:translateX(700px);
  } 
}
.rounded-circle:hover{
  transform: scale(1.1);
}
.rounded-circle:active{
  transform: scale(1);
}
#img1 {
  background-image: url(../img/emotes.jpg);
  background-position: center;
  background-position-x: -375px;
  background-position-y: -33px;
  animation: trans1 0.5s ease;
}
#img2 {
  background-image: url(../img/emotes.jpg);
  background-position: center;
  background-position-x: -152px;
  background-position-y: -33px;
  animation: trans2 0.8s ease;
}
#img3 {
  background-image: url(../img/emotes.jpg);
  background-position: center;
  background-position-x: -319px;
  background-position-y: -33px;
  animation: trans3 1.2s ease;
}

.pulse{
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%{
    transform: scale(.90);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(.90);
  }
}
.boing{
  animation: boing 1s ease-in-out;
}
@keyframes boing {
  0%{
    transform: translateY(-300px);
  }
  40%{
    transform: translateY(0px);
  }
  70%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0px);
  }
}
.zoom{
  animation: zoom 2s ease-out;
}
@keyframes zoom {
  0%{
    transform: scale(.30);
  }
}
